.catalog {
  background-color: @lightest-grey;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
  }
}

.catalog__item {
  margin-bottom: 20px;
}

.catalog__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: @base-primary;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}

.catalog__subtitle {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__fieldset {
  padding: 0;
  border: 0;

  @media (min-width: @tablet-width) {
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__legend {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: @base-black;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }
}

.catalog__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-left: 180px;
    padding-top: 14px;
    padding-bottom: 0;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    gap: 18px;
  }
}

.catalog__form-button {
  width: 160px;
  min-height: 45px;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    padding: 2px;
  }

  &--apply {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;

    @media (min-width: @tablet-width) {
      font-size: 14px;
      width: 150px;
    }
  }

  &--reset {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    @media (min-width: @tablet-width) {
      width: 141px;
    }
  }

  &--reset:hover,
  &--reset:focus,
  &--reset:active,
  &--reset:disabled {
    color: @base-white;
  }

  @media (min-width: @desktop-width) {
    width: fit-content;
  }
}

.catalog__sorting {
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
  }
}

.catalog__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: fit-content;
  }
}

.catalog__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    row-gap: 8px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 317px 317px 317px;
  }
}

.catalog__select-goods {
  @media (min-width: @desktop-width) {
    display: flex;
    gap: 30px;
  }
}

.catalog__range {
  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}

.catalog__milk {
  @media (min-width: @tablet-width) {
    margin-right: 38px;
  }
}
