.pagination {
  background-color: @lightest-grey;
  padding-top: 40px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    width: min-content;
    margin-left: auto;
    margin-right: -20px;
  }
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__button {
  border: none;
  background-color: @base-white;
  color: @base-primary;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 40px;
  height: 40px;

  &--current {
    background-color: transparent;
    color: @base-black;
    font-weight: 600;
  }

  @media (max-width: @mobile-width-only) {
    span {
      display: none;
    }

    svg {
      fill: @base-primary;
    }

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      svg {
        fill: @base-white;
      }
    }
  }

  @media (min-width: @tablet-width) {
    &--back,
    &--next {
      padding: 8px 20px;
      width: fit-content;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    font-weight: 400;
    color: @base-white;
  }

  &:hover,
  &:focus {
    background-color: @primary-lighter;
  }

  &:active {
    background-color: @primary-darker;
  }

  &:disabled {
    background-color: @lightest-grey;
  }
}
