.sorting {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 3px;
  padding-right: 7px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    gap: 20px;
  }
}

.sorting__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sorting__options {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: @base-primary;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-weight: 600;
  width: 150px;
}
